{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 versions", "safari >= 7"]
        },
        "modules": false
      }
    ],
    "react",
    "stage-0"
  ],
  "plugins": ["external-helpers"]
}
