{
  "env": {
    "test": {
      "presets": ["es2015", "stage-0", "react"]
    }
  },
  "presets": [
    [
      "es2015",
      {
        "modules": false
      }
    ],
    "stage-0",
    "react"
  ]
}
